<% @participants.delete(current_user.username) %>
<h4>This is the beginning of your private conversation with <%= @participants.join(", ") %></h4>

<div class="container">
  <div id="messages-table">
    <% @private_chat.messages.each do |message| %>
      <div class="message">
        <p><%= message.user.username %><br>
        <%= message.content %></p>
      </div>
    <% end %>
  </div>
  <%= render partial: "messages/form" %>
</div>